.cart-container{
    display: flex;
    padding:1rem;
    background-color: white;
    height: max-content;
    justify-content: space-evenly;
}
.cart-container-right{
    width: 15.5rem;
}
@media only screen and (max-width: 635px) {
    .cart-container{
        flex-direction: column;
    }
    .cart-container-right{
        margin-top: 1rem;
        margin-left: 1rem;
    }
}