@import url("https://nueui-v1.netlify.app/main.css");
.card-collection-wrappers{
    border: none;
}
.cards{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 15.7rem;
}
.checkoutCart-quantity{
    margin: 0 1rem;
}
.checkoutCart-quantity>span{
    margin: 0 0.2rem;
}
.card-img-top{
    margin-bottom: -0.4rem;
}
