:root{
    --nav-bar-color:#131921;
    --logo-color:#FF9900;
    --link-color:#fff;
}

.header{
    position: sticky;
    background-color: var(--nav-bar-color);
    display: flex;
    margin-top: 0;
    width: 100%;
}
.header__logo{
    width: 100px;
    color: var(--logo-color);
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    padding-top: 0.5rem;
    object-fit: contain;
}
.header__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}
.header__link{
    color: var(--link-color);
    text-decoration: none;
}
.header__option{
    display: flex;
    justify-content: space-between;
}
.option{
    margin-left: 0.2rem;
    margin-right: 1.2rem;
}
.header__optionbasket{
    display: flex;
    align-items: center;
}
.header__option button {
    background-color: var(--nav-bar-color);
    color: var(--link-color);
    border:none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
@media only screen and (max-width: 600px){
    .header{
        width: 100%;
    }
    .header__nav{
        width: 80%;
    }
}
