@import url("https://nue-ui.netlify.app/main.css");
.home{
    width: 100%;
}
.home__row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sort-price{
    font-weight: 600;
    font-size: large;
    padding: 1rem;
}
.prefer{
    font-weight: 600;
    font-size: large;
    padding-left: 1rem;
}
.input-radio-low-to-high{
    display: inline-block;
    padding-left: 1rem;
}
.input-radio-high-to-low{
    display: inline-block;
    padding-left: 13rem;
}
.input-fields{
    padding: 2.5rem;
}