@import url("https://nue-ui.netlify.app/main.css");
.main-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
}
.filter-container{
    border: 1px solid #BFBFBF;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 15rem;
}
.sort-price{
    font-weight: 600;
    font-size: large;
    margin-bottom: 1rem;
}
.input-radio-low-to-high{
    padding: 1rem;
}
.input-radio-high-to-low{
    padding: 1rem;
}
.prefer{
    font-size: large;
    margin-top: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.input-fields{
    margin-top: 1rem;
    padding: 1rem;
}