@import url("https://nueui-v1.netlify.app/main.css");

.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #dddddd;
    height: 10rem;
    padding: 1rem;
}
